body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
  background-color: #ecf0f1;
  font-family: 'Noto Sans', sans-serif;
}

.box {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 30px;
  font-size: 14px;
  box-shadow: 2px 2px 1px #bbb;
  margin-right: 10px;
  font-family: 'Noto Sans', sans-serif;
  width: 500px;
  display: inline-block;
}

.remove-item {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    margin-top: 10px;
}

  .remove-item:hover {
    background-color: #c9302c;
    border-color: #ac2925;
  }

.item .fields, .item .delete {
  display: inline-block;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 4px;
  font-family: 'Noto Sans', sans-serif;
}

textarea {
  font-size: 16px;
  padding:5px;
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  color: #555;
  border-radius: 4px;
  font-family: 'Noto Sans', sans-serif;
}

.itemLabel {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.submitBtn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}

  .submitBtn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }

.item-form {
  width: 325px;
}

.sectionBox {
  margin-left: 0;
}

.sectionTitle a {
  font-size: 24px;
  text-decoration: unset;
}

.appTitle a {
  text-decoration: unset;
}